.page-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.page-body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.page-body-content img {
  width: 375px;
}

@media screen and (max-width: 768px) {
  .page-body-content img {
    width: 300px;
  }
}

.page-body-detail {
  background-color: #efefef;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  margin: 2rem 0;
}

.page-body-detail h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.page-body-detail p {
  font-size: 1rem;
  font-weight: 400;
}

.page-body-files {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-body-file-item {
  width: 31%;
  margin-bottom: 3rem;
}

.page-body-file-item h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.page-body-file-item div p {
  font-size: 1rem;
  font-weight: 400;
}

.page-body-file-item div img {
  float: left;
  width: 120px;
  height: auto;
}

@media screen and (max-width: 1400px) {
  .page-body-files {
    display: flex;
    justify-content: space-between;
  }

  .page-body-file-item {
    width: 48%;
  }
}

@media screen and (max-width: 992px) {
  .page-body-file-item {
    width: 100%;
  }
  .page-body-file-item div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .page-body-file-item div img {
    float: left;
    width: 250px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .page-body-detail {
    text-align: start;
  }
  .page-body-file-item div img {
    float: none;
    width: 300px;
    height: auto;
  }
  .page-body-file-item div {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
